header {
  position: relative;
  height: 698px;
  background-image: url(./img/clover-bg.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

.jumbotron .container {
  position: absolute;
  top: 30%;
  right: 0;
  left: 0;
  text-align: center;
  z-index: 10;
}

.jumbotron .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background-color: rgba(0, 244, 255, 0.53);
}

.jumbotron .scroll-down {
  display: flex;
  justify-content: center;
  position: absolute;
  right: 5%;
  bottom: 0;
  z-index: 5;
  width: 100px;
  height: 100px;
  background-color: #222222;
}

.jumbotron .scroll-down .fas {
  color: #fff;
  font-size: 30px;
  font-weight: 800;
  position: absolute;
  padding: 1em;
  animation-name: up-an-down;
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
}

@keyframes up-an-down {
  0% {
    top: 0px;
  }
  10% {
    top: 2px;
  }
  20% {
    top: 4px;
  }
  30% {
    top: 6px;
  }
  40% {
    top: 8px;
  }
  50% {
    top: 10px;
  }
  60% {
    top: 8px;
  }
  70% {
    top: 6px;
  }
  80% {
    top: 4px;
  }
  90% {
    top: 2px;
  }
  100% {
    top: 0px;
  }
}

.container {
  color: #fff;
  text-shadow: 0 0 5px black;
}

.container h1 {
  display: inline-block;
  padding: 0 20px 20px 20px;
  border-bottom: 1px solid #fff;
}

.sub-title {
  font-size: 28px;
  font-weight: 200;
}

nav {
  position: relative;
}

nav ul {
  position: absolute;
  right: 5%;
  top: -32px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

nav ul li {
  position: relative;
  height: 100px;
  width: 100px;
  text-align: center;
  background-color: #222222;
}

nav ul li a,
nav ul li a:link,
nav ul li a:visited {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-decoration: none;
  color: #fff;
  padding-top: 33px;
}

nav ul li a:hover {
  background-color: rgba(255, 255, 255, 0.38);
}

.profile-container {
  background-color: #fff;
  width: 80%;
  text-align: center;
  margin: auto;
}

.profile-container h2 {
  display: inline-block;
  padding: 0 120px 20px 120px;
  border-bottom: 1px solid #ded9d9;
}

.details-container {
  margin-top: 5em;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.details-container section {
  width: 30%;
  margin: 1em;
  text-align: left;
}

.about h3 {
  padding-bottom: 1em;
}

.about p {
  line-height: 1.7em;
}

.social {
  display: flex;
}

.social a {
  margin-right: 10px;
  border-radius: 7px;
}

.social-inst {
  height: 30px;
  background-image: url(./img/instagram-icon.png);
  background-repeat: no-repeat;
  display: block;
  background-size: 60px;
  background-position-x: -30px;
  width: 30px;
}

.social-linkedin {
  height: 30px;
  background-image: url(./img/linkedin-icon.png);
  background-repeat: no-repeat;
  display: block;
  background-size: 60px;
  background-position-x: -30px;
  width: 30px;
}

.clear {
  float: none;
  clear: both;
}

@media only screen and (max-width: 600px) {
  .jumbotron .scroll-down {
    right: 0;
    width: 100%;
  }

  .details-container {
    flex-direction: column;
  }
}
