html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  min-width: 430px;
}

header {
  position: relative;
  min-height: 100vh;
  background-image: url(./img/clover-bg.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 0 !important;
}

h1 {
  display: inline-block;
  padding: 0 20px 20px 20px;
  border-bottom: 1px solid #fff;
  font-size: 4em;
}

h2 {
  display: inline-block;
  font-size: 2.5em;
  padding: 70px 120px 0.5em 120px;
  border-bottom: 1px solid #ded9d9;
}

.jumbotron .container {
  position: absolute;
  top: 30%;
  right: 0;
  left: 0;
  text-align: center;
  z-index: 10;
}

.jumbotron .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background-color: rgba(0, 244, 255, 0.53);
}

.jumbotron .scroll-down {
  display: flex;
  justify-content: center;
  position: absolute;
  right: 5%;
  bottom: 0;
  z-index: 5;
  width: 100px;
  height: 100px;
  background-color: #222222;
}

.jumbotron .scroll-down .fas {
  color: #fff;
  font-size: 30px;
  font-weight: 800;
  position: absolute;
  padding: 1em;
  animation-name: up-an-down;
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
}

@keyframes up-an-down {
  0% {
    top: 0px;
  }
  10% {
    top: 2px;
  }
  20% {
    top: 4px;
  }
  30% {
    top: 6px;
  }
  40% {
    top: 8px;
  }
  50% {
    top: 10px;
  }
  60% {
    top: 8px;
  }
  70% {
    top: 6px;
  }
  80% {
    top: 4px;
  }
  90% {
    top: 2px;
  }
  100% {
    top: 0px;
  }
}

.container {
  color: #fff;
  text-shadow: 0 0 5px black;
}

.sub-title {
  font-size: 28px;
  font-weight: 200;
  padding-bottom: 1em;
}

nav {
  position: relative;
}

nav span {
  display: none;
}

.nav-list {
  position: absolute;
  right: 5%;
  top: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.nav-list li {
  position: relative;
  height: 100px;
  width: 100px;
  text-align: center;
  background-color: #222222;
}

.nav-list li a,
.nav-list li a:link,
.nav-list li a:visited {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-decoration: none;
  color: #fff;
  padding-top: 33px;
}

nav li a:hover {
  background-color: rgba(255, 255, 255, 0.38);
}

.profile-container {
  min-height: 100vh;
  background-color: #fff;
  width: 80%;
  text-align: center;
  margin: auto;
}

.profile-container h3 {
  padding-bottom: 1em;
}

.profile-container img {
  height: 230px;
  border-radius: 50%;
}

.details-container {
  /* margin-top: 3em; */
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding-bottom: 4em;
}

.details-container section {
  width: 40%;
  margin: 1em;
  text-align: left;
}

.details strong {
  line-height: 1.8em;
}

.about p {
  line-height: 1.7em;
}

.social {
  display: flex;
}

.social a {
  margin-right: 10px;
  border-radius: 7px;
}

.social-inst {
  height: 30px;
  background-image: url(./img/instagram-icon.png);
  background-repeat: no-repeat;
  display: block;
  background-size: 60px;
  background-position-x: -30px;
  width: 30px;
}

.social-linkedin {
  height: 30px;
  background-image: url(./img/linkedin-icon.png);
  background-repeat: no-repeat;
  display: block;
  background-size: 60px;
  background-position-x: -30px;
  width: 30px;
}

.experience-container {
  min-height: 100vh;
  background-color: rgb(89 197 182 / 81%);
  text-align: center;
  margin: auto;
  padding-bottom: 4em;
}

.experience-container h2 {
  color: #333333;
  border-bottom: 1px solid #333333;
}

.experience-inner-container {
  width: 80%;
  margin: 0 auto;
}

.experience-inner-container h4 {
  text-align: left;
  padding: 1em 0;
}

.section-element {
  display: flex;
}

.section-element p {
  display: inline-block;
  margin-right: 1em;
  text-align: left;
  font-weight: 300;
}

.period {
  width: 250px;
  padding-left: 1em;
}

.stack-container {
  min-height: 100vh;
  background-color: #fff;
  text-align: center;
  margin: auto;
}

.projects-container {
  min-height: 100vh;
  background-color: rgb(89 197 182 / 81%);
  text-align: center;
  margin: auto;
}

.contact-container {
  min-height: 100vh;
  background-color: #666666;
  text-align: center;
  margin: auto;
}

@media only screen and (max-width: 600px) {
  .jumbotron .scroll-down {
    right: 0;
    width: 100%;
  }

  nav {
    position: sticky;
    top: 0;
    height: 2.8em;
    background-color: #222222;
  }

  .burger-menu {
    display: flex;
    height: 21px;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 12px;
    right: 30px;
    bottom: 15px;
  }

  .burger-menu span {
    background-color: #fff;
    height: 3px;
    width: 30px;
    display: block;
  }

  .media-nav-list {
    display: none;
    top: 40px;
    position: absolute;
    padding-left: 0;
    background-color: #222222;
    width: 100%;
    list-style-type: none;
  }

  .media-nav-list li {
    text-align: center;
  }

  .media-nav-list li a {
    text-decoration: none;
    color: #fff;
    display: block;
    padding: 1em;
  }

  .details-container {
    flex-direction: column;
    justify-content: space-evenly;
    padding-bottom: 4em;
  }

  .details-container section {
    width: 100%;
    margin: auto;
  }

  .details strong {
    line-height: 1.8em;
  }
}
